apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: scg-apply-prod

patchesStrategicMerge:
- ingress.yaml
- deployment.yaml
- service.yaml

resources:
- ../../../base/be
- namespace.yaml
- secret.yaml
images:
- name: scgskku/scg-apply-be-prod
  newTag: ea8b9441ba2c0a7e20b0c85f4d05b64fdd1e99df
