apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: scg-apply-prod
namePrefix: prod-
patchesStrategicMerge:
- ingress.yaml
- deployment.yaml
- service.yaml
resources:
- ../../../base/fe
images:
- name: scgskku/scg-apply-fe-prod
  newTag: bcbe820b1cf8ab06c4bb632cafa874ae74df236d
